//
   Created by mtopor on 24.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        a(href="/admin/prescriptionslist") lista recept
        br
        a(href="/admin/prescriptionadd") dodaj recepte
        br
        a(href="/admin/needlist") lista zapotrzebowań
        br
        a(href="/admin/needadd") dodaj zapotrzebowanie
        br
        a(href="/admin/referralslist") lista skierowań
        br
        a(href="/admin/referraladd") dodaj skierowanie