// Created by futerzak on 13.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        table.table.table-hover
            thead
                tr 
                    th #{__('Requester')}
                    th #{__('Room number')}
                    th #{__('Need description')}
            tbody
                each n in need
                    tr
                        td #{n.user.name} #{n.user.lastname}
                        td #{n.room_number}
                        td #{n.desc}
