// Created by futerzak on 13.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        .row
            .col-md-6.col-md-offset-3
                form(action="/admin/needadd", method="post")
                    .form-group
                        label(for="room_number") #{__("Room number")}
                        input.form-control(name="room_number", type="number", required )
                    .form-group
                        label(for="need_description")  #{__("Need description")}
                        textarea.form-control(id="need_description", name="need_description", rows="5", required)
                    .form-group
                        button.btn.btn-primary.btn-lg(type="submit") #{__('Save')}