extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .containder
        div
            form(action="/admin/prescriptionslist", method="post")
                label(for="patient") Pacjent
                    select(name="patient")
                        option(value=-1) wybierz
                            each user in users
                                option(value=user.id, selected=user.id == user_id ) #{user.name} #{user.lastname} [login: #{user.username}]
                input(type="submit", value="filtruj")

        div
            table.table.table-hover
                thead
                    tr: th #{__('Patient')}
                        th #{__('Prescription')}
                        //th User name
                tbody
                    each presc in prescription
                        tr
                            td #{presc.user.name} #{presc.user.lastname}
                            td #{presc.medications}
                            //td=presc.User.name
