//
   Created by futerzak on 13.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .containder
        .row
            .col-md-6.col-md-offset-3
                form(action="/admin/prescriptionadd", method="post")
                    .form-group
                        label(for="patient") Pacjent
                        select.form-control(name="patient")
                            option(value=-1) wybierz
                            each  u in users
                                option(value=u.id) #{u.username}
                    .form-group
                        label(for) Lekarstwa
                        textarea.form-control(name="medications", rows="5")
                    .form-group
                        button.btn.btn-primary.btn-lg(type="submit") #{__('Save')}
