//
   Created by futerzak on 21.06.15.

extends ../layout

block content
    .jumbotron
        .container
            h1= title
    .container
        table.table.table-hover
            thead
                tr
                    th Medical history id  ToDo
                    th #{__('Referral description')}
            tbody
                each referral in referrals
                    tr
                        td=referral.medicalHistory_id
                        td=referral.description
