//
   Created by futerzak on 21.06.15.

extends ../layout

block content
    .jumbotron
        .container
            h1= title
            p #{__('Welcome to %s', title)}
    .container
        .row
            .col-md-6.col-md-offset-3
                form(action="/admin/referraladd", method="post")
                    .form-group
                        label(for="medicalHistory") #{__('Medical history')}
                        select.form-control(name="medicalHistory")
                            option(value="-1") #{__('Select')}
                            each mh in medicalHistory
                                option(value=mh.id)= mh.toString()
                    .form-group
                        label(for="description") #{__('Description')}
                        textarea.form-control(name="description", rows="5")
                    .form-group
                        button.btn.btn-primary.btn-lg(type="submit") #{__('Save')}
