//
   Created by ferdek on 29.05.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title

    .container
        .row
            .col-md-6.col-md-offset-3
                form(method="post")
                    .form-group
                        select.form-control(name="patient_id", id="patient_id")
                            each patient in patients
                                option(value='#{patient.id}') #{patient.id}: #{patient.name} #{patient.lastname}

                    .form-group
                        label #{__('Appointment number')}
                        select.form-control(name="medical_history_id", id="medical_history_id")
                            //TODO: dorobic petle z numerami wizyt
                            option(value="12") option12
                            option(value="13") option13

                    .form-group
                        label.control-label #{__('Amount')}
                        input.form-control(type = "number", step="0.10", pattern="[-+]?[0-9]*\\.?[0-9]*", name="amount", id="amount")

                    .form-group
                        button.btn.btn-primary.btn-lg(type="submit") #{__('Add')}