//
   Created by ferdek on 24.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        .row
            .col-md-6.col-md-offset-3
                form(method="post")
                    input.form-control(type = 'hidden', id = 'user_id', name = 'user_id', value = "#{userId}")
                    .form-group
                        label #{__('Weekday')}
                        select.form-control(name="weekday_id", id="weekday_id")
                            each weekday in weekdays
                                option(value='#{weekday.id}') #{weekday.day}
                    .form-group
                        label #{__('Start hour')}
                        input.form-control(type="datetime-local", name="start_date", id="start_date")
                    .form-group
                        label #{__('End hour')}
                        input.form-control(type="datetime-local", name="end_date", id="end_date")
                    .form-group
                        button.btn.btn-primary.btn-lg(type="submit") #{__('Add')}
