//
   Created by ferdek on 13.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        .row
            .col-md-6.col-md-offset-3
                form(method="post")
                    .form-group
                        label #{__('Patient')}
                        select.form-control(name="patient_id", id="patient_id")
                            each patient in patients
                                //TODO wywalic id
                                option(value='#{patient.id}') #{patient.id}: #{patient.name} #{patient.lastname}
                    .form-group
                        label #{__('Appointment')}
                        //TODO: dorobić filtrowanie
                        //TODO wywalic id
                        select.form-control(name="appointment_id", id="appointment_id")
                            each appointment in appointments
                                option(value='#{appointment.id}') #{appointment.id}: #{appointment.start_hour.toLocaleTimeString()} #{appointment.start_hour.toDateString()}
                    .form-group
                        label #{__('Diagnosis')}
                        textarea.form-control(id='diagnosis', name='diagnosis', rows="3" placeholder="#{__('Diagnosis')}", required='', autofocus='')
                    .form_group
                        label #{__('Recommendation')}
                        textarea.form-control(id='recommendation', name='recommendation', rows="3" placeholder="#{__('Recommendation')}", required='', autofocus='')
                    .form-group
                        input(name='prescriptioncheckbox', id='prescriptioncheckbox', type='checkbox', onclick="document.getElementById('prescription').disabled=!this.checked;")
                        label #{__('Deliver prescription')}
                        textarea.form-control(id='prescription', name='prescription', rows="3" placeholder="#{__('Medications')}", required='', autofocus='', disabled='')
                    .form-group
                        input(name='referralcheckbox', id='referralcheckbox', type='checkbox', onclick="document.getElementById('referral').disabled=!this.checked;")
                        label #{__('Write referral')}
                        textarea.form-control(id='referral', name='referral', rows="3" placeholder="#{__('Referral')}", required='', autofocus='', disabled='')
                    .form-group
                        input(name='billcheckbox', id='billcheckbox', type='checkbox', onclick="document.getElementById('bill').disabled=!this.checked;")
                        label #{__('Charge')}
                        .input-group.col-md-4
                            .input-group-addon PLN
                            input(type='number', name='bill', id='bill', disabled='')
                            .input-group-addon .00

                    .form-group
                        button.btn.btn-primary.btn-lg(type="submit") #{__('Add record')}
