//
   Created by ferdek on 13.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        //TODO: filtrowanie
        table.table.table-striped
            thead
                tr
                    th #{__('Name')}
                    th #{__('Lastname')}
                    th #{__('Date')}
                    //th #{__('Diagnosis')}
                    th #{__('Details')}
            tbody
                each user, index in users
                    each appointment in user.appointments
                        tr
                            td #{user.name}
                            td #{user.lastname}
                            td #{appointment.start_hour}
                            //td
                            if appointment.medicalHistory
                                //#{appointment.medicalHistory.diagnosis}
                                td
                                    a.btn.btn-primary(href="/doctor/historydetails/#{appointment.medicalHistory.id}", role="button") #{__('Details')}
