//
   Created by ferdek on 24.06.15.

extends ../layout
block content
   .jumbotron
      .container
         h1= title
   .container
      table.table.table-striped
         thead
            tr
               th #
               th #{__('Date')}
         tbody
            each appointment, index in appointments
               each user in appointment.users
                  tr
                     td #{index+1}
                     td #{appointment.start_hour.toLocaleString()}
