//
   Created by ferdek on 23.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        table.table.table-striped
            thead
                tr
                    th #
                    th #{__('Weekday')}
                    th #{__('Start hour')}
                    th #{__('End hour')}
                    th #{__('Edit')}
            tbody
                each consultingHour, index in consultingHours
                    tr
                        td #{index}
                        td #{consultingHour.weekday.day}
                        td #{consultingHour.start_hour.toTimeString().slice(0,8)}
                        td #{consultingHour.end_hour.toTimeString().slice(0,8)}
                        td
                            a.btn.btn-primary(href="/doctor/editconsultinghours/#{consultingHour.id}", role="button") #{__('Edit')}
