extends layout

block content
    .jumbotron
        .container
            h1= title
            p #{__('Welcome to %s', title)}
    .container
        .row
            .col-lg-6
                .h2 Lubie
                .p Placki
            .col-lg-6
                .h2 ePrzychodnia
                .p Super przychodnia!