mixin link(name, href)
    if nav == href
        li.active
            a(href=href) #{name}
    else
        li
            a(href=href) #{name}


doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', href='/favicon.ico')
        title= title
        // Bootstrap core CSS
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src='/scripts/bootstrap.js')
        // Custom styles for this template
        //link(href='#{pathToSelectedTemplateWithinBootstrap}/jumbotron.css', rel='stylesheet')
    body
        .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')
                        include ./logo.jade
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        +link(__('Main page'), '/')
                        if user
                            if userIs('patient')
                                +link(__('Add symptom'), '/patient/symptom')
                                +link(__('My symptoms'), '/patient/symptomlist')
                                +link('Moja karta', '/patient/showmedicalhistory')
                                +link('Moje rachunki', '/patient/showbills')

                            if userIs('admin')
                                +link(__("Users"), '/users')
                            if userIs('doctor')
                                +link(__("Prescription list"), '/admin/prescriptionslist')
                                +link(__("Add prescription"), '/admin/prescriptionadd')
                                +link(__("Need list"), '/admin/needlist')
                                +link(__("Add need"), '/admin/needadd')
                                +link('Historie chorób', '/doctor/showmedicalhistory')
                                +link('Godziny przyjęć', '/doctor/showconsultinghours')
                                +link('Dodaj przyjęcia', '/doctor/addconsultinghours')


                            if userIs('staff')


                    if user
                        form.navbar-form.navbar-right(role='form', method='GET', action='/logout')
                            .form-group
                                button.btn.btn-primary(type = 'submit') #{__('Logout')}
                    else
                        ul.nav.navbar-nav
                            +link(__('Register'), '/register')
                        form.navbar-form.navbar-right(role='form', method='POST', action='/login')
                            .form-group
                                input.form-control(type='test', id="username", name="username", placeholder="#{__('Username')}")
                            .form-group
                                input.form-control(type='password', id="password", name="password", placeholder="#{__('Password')}")
                            button.btn.btn-primary(type='submit') #{__('Sign in')}
                // /.navbar-collapse
        .container
            if success_messages.length > 0
                div.alert.alert-success.alert-dismissible(role="alert")
                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                        span(aria-hidden="true") &times;
                    ul
                        each message in success_messages
                            li= message
            if error_messages.length > 0
                div.alert.alert-danger.alert-dismissible(role="alert")
                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                        span(aria-hidden="true") &times;
                    ul
                        each message in error_messages
                            li= message


        block content

        footer
            p.text-muted &copy; PTZ 2015

