//
   Created by dexior on 01.04.15.
extends layout

block content
    .container
        .center_div
            form.form-signin(role='form', method='POST')
                h2.form-signin-heading #{__('Please sign in')}
                input.form-control(type='text', id="username", name="username", placeholder="#{__('Username')}", required='', autofocus='')
                input.form-control(type='password', id="password", name="password", placeholder="#{__('Password')}", required='')
                button.btn.btn-lg.btn-primary.btn-block(type='submit') #{__('Sign in')}


