body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div.logo {
    background-color: #337ab7;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.center_div {
    margin: 0 auto;
    width: 50%;
}