//
   Created by ferdek on 24.06.15.

extends ../layout
block content
   .jumbotron
      .container
         h1= title
   .container
      dl.dl-horizontal
         dt #{__('Name')}
         dd #{history.user.name}
         dt #{__('Lastname')}
         dd #{history.user.lastname}
         dt #{__('Date of birth')}
         dd #{history.user.date_of_birth.toLocaleString()}
         dt #{__('Diagnosis')}
         dd #{history.diagnosis}
         dt #{__('Recommendation')}
         dd #{history.recommendation}
         dt #{__('Appointment date')}
         dd #{history.appointment.start_hour.toLocaleString()}
         dt #{__('Prescription')}
         if history.prescription
            dd #{history.prescription.medications}
         else
            dd Nie wystawiono recepty
         dt #{__('Referral')}
         if history.referral
            dd #{history.referral.description}
         else
            dd Nie wystawiono skierowania
         dt #{__('Bill')}
         if history.bill
            dd #{history.bill.amount}
         else
            dd Nie wystawiono rachunku