//
   Created by ferdek on 24.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        table.table.table-striped
            thead
                tr
                    th #
                    th #{__('Date')}
                    th #{__('Diagnosis')}
                    th #{__('Amount')}
            tbody
                each bill, index in bills
                    tr
                        td #{index+1}
                        td
                            if bill.medicalHistory.appointment
                                |#{bill.medicalHistory.appointment.start_hour.toDateString()}
                        td
                            if bill.medicalHistory
                                |#{bill.medicalHistory.diagnosis}
                        td #{bill.amount}
