//
   Created by ferdek on 24.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        //TODO: filtrowanie
        //TODO: buttony
        table.table.table-striped
            thead
                tr
                    th #
                    th #{__('Date')}
                    th #{__('Diagnosis')}
                    th #{__('Details')}
            tbody
                each history, index in histories
                    tr
                        td #{index+1}
                        td #{history.appointment.start_hour.toDateString()}
                        td #{history.diagnosis}
                        td
                            a.btn.btn-primary(href="/patient/historydetails/#{history.id}", role="button") #{__('Details')}
