//
   Created by ferdek on 19.05.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        table.table.table-hover
            thead
                tr: th #{__('Symptom description')}
                    th #{__('Date')}
            tbody
                each symptom in symptoms
                    tr
                        td=symptom.desc
                        td=symptom.date