//
   Created by ferdek on 19.05.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        form(method="post")
            .form-group
                textarea.form-control(id='description', name='description', rows="5" placeholder="#{__('Symptom Description')}", required='', autofocus='')
                br
                button.btn.btn-lg.btn-primary.btn-block(type='submit') #{__('Add symptom')}