.container
    .row
        .col-md-6.col-md-offset-3
            form(method = '#{method}' action='#{action}')
                input.form-control(type = 'hidden', id = 'user_id', name = 'user_id', value = "#{user ? user.id : ''}")
                .form-group
                    label(for = 'username') #{__('Username')}
                    input.form-control(type = 'text', id = "username", name = "username", placeholder = "#{__('Username')}",
                    value = "#{user ? user.name : ''}")
                .form-group
                    label(for = 'password') #{__('Password')}
                    input.form-control(type = 'password', id = 'password', name = 'password', placeholder = "#{__('Password')}",
                    value = "#{user ? user.password : ''}")
                .form-group
                    label(for = 'name') #{__('name')}
                    input.form-control(type = 'text', id = 'name', name = 'name', placeholder = "#{__('name')}",
                    value = "#{user ? user.name : ''}")
                .form-group
                    label(for = 'lastname') #{__('lastname')}
                    input.form-control(type = 'text', id = 'lastname', name = 'lastname', placeholder = "#{__('lastname')}",
                    value = "#{user ? user.lastname : ''}")
                .form-group
                    label(for = 'date_of_birth') #{__('birthday')}
                    input.form-control(type = 'datetime', id = 'date_of_birth', name = 'date_of_birth', placeholder = "#{__('birthday')}",
                    value = "#{user ? user.date_of_birth : ''}")
                .form-group
                    label(for = 'email') #{__('Email')}
                    input.form-control(type = 'email', id = 'email', name = 'email', placeholder = "#{__('Email')}",
                    value = "#{user ? user.email : ''}")
                .form-group
                    label(for = 'phone_number') #{__('Phone number')}
                    input.form-control(type = 'tel', id = 'phone_number', name = 'phone_number', placeholder = "#{__('Phone number')}",
                    value = "#{user ? user.phone_number : ''}")
                .form-group
                    label(for = 'role') #{__('Roles')}
                    ul
                        each role in roles
                            li
                                .checkbox
                                    label
                                        input(type = 'checkbox', id = 'role', name = 'role', value = '#{role.name}', checked = thatUserIs(user, role.name))
                                        | #{__(role.name)}

                .form-group
                    button.btn.btn-primary(type = 'submit') #{__('Submit')}
                    a.btn.btn-default(href = "/users") #{__('Cancel')}


