extends ../layout

block content
    .container
        table.table.table-hover
            thead
                tr: th #{__('name')}
                    th #{__('lastname')}
                    th #{__('birthday')}
                    th #{__('Edit')}
            tbody
                each user in users
                    tr
                        td #{user.name}
                        td #{user.lastname}
                        td #{user.date_of_birth}
                        td
                            a.btn.btn-primary(href="/users/#{user.id}", role="button") #{__('Edit')}