//
   Created by ferdek on 29.05.15.

extends ../layout
block content
   .jumbotron
      .container
         h1=title
   .container
      .row
         .col-md-6.col-md-offset-3
            form(method="post")
               .form-group
                  label #{__('Doctor')}
                  select.form-control(name="doctor_id", id="doctor_id")
                     each doctor in doctors
                        option(value='#{doctor.id}') #{doctor.id}: #{doctor.name} #{doctor.lastname}

               .form-group
                  label #{__('Patient')}
                  select.form-control(name="patient_id", id="patient_id")
                     each patient in patients
                        option(value='#{patient.id}') #{patient.id}: #{patient.name} #{patient.lastname}

               .form-group
                  label #{__('Date')}
                  input.form-control(type="datetime-local", name="start_date", id="start_date")

               .form-group
                  button.btn.btn-primary.btn-lg(type="submit") #{__('Add')}