//
   Created by ferdek on 24.06.15.

extends ../layout
block content
   .jumbotron
      .container
         h1=title
   .container
      .row
         .col-md-6.col-md-offset-3
            form(method="post")
               input.form-control(type = 'hidden', id = 'appointment_id', name = 'appointment_id', value = "#{appointment.id}")
               .form-group
                  label #{__('Doctor')}
                  select.form-control(name="doctor_id", id="doctor_id")
                     each doctor in doctors
                        option(value='#{doctor.id}') #{doctor.id}: #{doctor.name} #{doctor.lastname}
               .form-group
                  label #{__('Date')}
                  input.form-control(type="datetime-local", name="start_date", id="start_date")
               .form-group
                  button.btn.btn-primary.btn-lg(type="submit") #{__('Edit')}