//
   Created by ferdek on 20.06.15.

extends ../layout
block content
    .jumbotron
        .container
            h1= title
    .container
        //TODO: filtrowanie i sortowanie
        table.table.table-striped
            thead
                tr
                    th #{'#'}
                    th #{__('Hour')}
                    th #{__('Date')}
                    th #{__('Doctor')}
                    th #{__('Patient')}
                    th #{__('Edit')}
            tbody
                each appointment, index in appointments
                    tr
                        td #{index+1}
                        td #{appointment.start_hour.toLocaleTimeString()}
                        td #{appointment.start_hour.toDateString()}
                        td #{doctors[appointment.id].name} #{doctors[appointment.id].lastname}
                        td #{patients[appointment.id].name} #{patients[appointment.id].lastname}
                        td
                            a.btn.btn-primary(href="/receptionist/editappointment/#{appointment.id}", role="button") #{__('Edit')}